@model IEnumerable<TrainingMvcApp.Models.Technology>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechnologyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnologyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnologyType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnologyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnologyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnologyType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { TechId=item.TechnologyId}) |
                    @Html.ActionLink("Details", "Details", new { TechId = item.TechnologyId }) |
                    @Html.ActionLink("Delete", "Delete", new { TechId = item.TechnologyId })
            </td>
        </tr>
}
    </tbody>
</table>
